<div class="ml-5 col-md-8 align-content-center">
    <div class="row">
        <div class="col-md-4">
            <input type="button" value="Account" onclick="location.href='@Url.Action("Index", "Account")'" />
        </div>
        <div class="col-md-4">
            <input type="button" value="Customer" onclick="location.href='@Url.Action("Index", "Customer")'" />
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-md-4">
            <input type="button" value="Employee" onclick="location.href='@Url.Action("Index", "Employee")'" />
        </div>
        <div class="col-md-4">
            <input type="button" value="Company" onclick="location.href='@Url.Action("Index", "Company")'" />
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-md-4">
            <input type="button" value="Vendor" onclick="location.href='@Url.Action("Index", "Vendor")'" />
        </div>
        <div class="col-md-4">
            <input type="button" value="Item" onclick="location.href='@Url.Action("Index", "Item")'" />
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-md-4">
            <input type="button" value="Payment" onclick="location.href='@Url.Action("Index", "Payment")'" />
        </div>
        <div class="col-md-4">
            <input type="button" value="Invoice" onclick="location.href='@Url.Action("Index", "Invoice")'" />
        </div>
    </div>
</div>

