@model QuickbooksWeb.Models.CategoryModel

<div class="col-md-8 ml-5 align-content-center">
    @using (Html.BeginForm("CreateCategory", "Item", FormMethod.Post))
    {
        <div class="row">
            <div class="col-md-3">
                @Html.Label("Name")
            </div>
            <div class="col-md-5">
                @Html.TextBoxFor(m => Model.Name)
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                @Html.Label("Type")
            </div>
            <div class="col-md-5">
                @Html.TextBoxFor(m => Model.Type)
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                @Html.Label("Active")
            </div>
            <div class="col-md-5">
                @Html.DropDownListFor(m => Model.Active, new SelectList(Enum.GetValues(typeof(ActiveStatus))), "Select Status")
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                @Html.Label("SyncToken")
            </div>
            <div class="col-md-5">
                @Html.TextBoxFor( m => Model.SyncToken)
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <input type="submit" value="Submit" />
            </div>
        </div>
    }
</div>