<div class="col-md-8 ml-5 align-content-center">
    <div class="row">
        <input type="button" value="Create Item" onclick="location.href='@Url.Action("CreateItem", "Item")'" />
    </div>
    <div class="row mt-2">
        <input type="button" value="Create Category" onclick="location.href='@Url.Action("CreateCategory", "Item")'" />
    </div>
    <div class="row mt-2">
        <input type="button" value="Read bundle" onclick="location.href='@Url.Action("BundleDetails", "Item")'" />
    </div>
    <div class="row mt-2">
        <input type="button" value="Read Category" onclick="location.href='@Url.Action("CategoryDetails", "Item")'" />
    </div>
    <div class="row mt-2">
        <input type="button" value="Update Category" onclick="location.href='@Url.Action("UpdateCategory", "Item")'" />
    </div>
    <div class="row mt-2">
        <input type="button" value="Back to Home" onclick="location.href ='@Url.Action("Index", "Home")'" />
    </div>
</div>